@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;
}

:root {
  --ui-radius: 0.5rem;

  --ui-bg: #fff9f7;
  --ui-bg-muted: #f8ede9;
  --ui-bg-elevated: #ffffff;
  --ui-bg-accented: #f4e0e2;
  --ui-bg-inverted: #34131a;

  --ui-border: #e5c9cb;
  --ui-border-muted: #f0dddd;
  --ui-border-accented: #c99096;
  --ui-border-inverted: #34131a;

  --ui-text: #40242a;
  --ui-text-highlighted: #2d1319;
  --ui-text-toned: #71434b;
  --ui-text-muted: #8c6269;
  --ui-text-dimmed: #aa858a;
  --ui-text-inverted: #ffffff;

  --ui-primary: #8f1725;
  --ui-secondary: #a86d16;
  --ui-info: #705fbe;
  --ui-success: #147a5c;
  --ui-warning: #9a6800;
  --ui-error: #b21e44;

  color-scheme: light;
}

.dark {
  --ui-bg: #160B12;
  --ui-bg-muted: #1C1017;
  --ui-bg-elevated: #24131B;
  --ui-bg-accented: #2E1A23;
  --ui-bg-inverted: #160B12;

  --ui-border: #3A2230;
  --ui-border-muted: #2A1822;
  --ui-border-accented: #50303F;
  --ui-border-inverted: #160B12;

  --ui-text: #EADBE3;
  --ui-text-highlighted: #FFFFFF;
  --ui-text-toned: #C4A8B6;
  --ui-text-muted: #A1818F;
  --ui-text-dimmed: #6F5160;
  --ui-text-inverted: #FFFFFF;

  --ui-primary: #A91522;
  --ui-secondary: #DDA638;
  --ui-info: #A997FF;
  --ui-success: #5ED6B0;
  --ui-warning: #F2E85C;
  --ui-error: #FF6685;

  color-scheme: dark;
}

body {
  background-color: var(--ui-bg);
  color: var(--ui-text);
  transition: background-color 200ms ease, color 200ms ease;
}
